<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>IoT Minds Profile</title>
    <%include header%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
    	<header class="header">
    		<div role="navigation" class="navbar navbar-default navbar-fixed-top">
    			<div class="container">
    				<div class="navbar-header"><a href="#all" class="navbar-brand scroll-to"><img src="img/logo.png" alt="logo" class="hidden-xs hidden-sm"><img src="img/logo-small.png" alt="logo" class="visible-xs visible-sm"><span class="sr-only">Go to homepage</span></a>
    					<div class="navbar-buttons">
    						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
    					</div>
    				</div>
    				<div id="navigation" class="collapse navbar-collapse navbar-left">
    					<ul class="nav navbar-nav">
    						<li><a href="/profile" class="scroll-to">Profile </a></li>
    						<li><a href="/docs" class="scroll-to">Documentation </a></li>
    						<li><a href="/channels/featured" class="scroll-to">Featured Channels </a></li>
    						<li><a href="/examples" class="scroll-to">Examples </a></li>
    						<!--<li><a href="#integrations" class="scroll-to">Integrations</a></li>
    						<li><a href="#testimonials" class="scroll-to">Testimonials</a></li>
    						<li><a href="#contact" class="scroll-to">Contact</a></li>-->
    					</ul>
    				</div>
    				<div id="navigation" class="collapse navbar-collapse navbar-right">
    					<a href="/logout" class="btn navbar-btn btn-ghost">Logout</a>
    				</div>
    			</div>
    		</div>
    	</header>

    	<div class="container">
    		<div class="row">
    			<!-- LOCAL INFORMATION -->
    			<div class="col-sm-12">
    				<div id="header_modal">
    					<legend><%= user.username %>'s Profile</legend>
    					ID: <strong><%= user.id %></strong></br>
    					Location:<strong>Istanbul/Turkey</strong>
    				</div>
    			</div>

    			<div class="col-sm-12">
    				<ul class="nav nav-tabs">
    					<li class="active"><a data-toggle="tab" href="#home">My Channels</a></li>
    					<li><a data-toggle="tab" href="#create_channel">Create New Channel</a></li>
    					<!--<li><a data-toggle="tab" href="#sharing">Sharing</a></li>-->
    					<li><a data-toggle="tab" href="#edit_profile">Edit Profile</a></li>
    					<!--<li><a data-toggle="tab" href="#manage">API Keys</a></li>-->
    				</ul>
    			</div>
    			<div class="tab-content">
    				<div id="home" class="tab-pane fade in active">
    					<div class="col-sm-12">
    						<% if (channels[0] == null) {%>
    						<p>You can create new channel by using <strong>"Create New Channel"</strong> tab.</p>
    						<%}%>
    						<% channels.forEach(function(channel){ %>
    						<div class="col-md-4">
    							<div class="thumbnail">
    								<%if(channel.image_url=="") {%>
    								<img src="http://placeholders.org/360x250">
    								<%}else{%>
    								<img src="<%= channel.image_url %>" alt="<%= channel.name %>">
    								<%}%>

    								<div class="caption">
    									<h3 align="center"><%= channel.name %></h3>
    									<h5 align="center"><%= channel.created_at%></h5>
    									<p><%= channel.description %></p>
    									<p align="center">
    										<a href="/channels/<%= channel.id %>" class="btn btn-primary" role="button">Visit</a> 
    										<!--<a href="#" class="btn btn-default" role="button">Edit</a>-->
    										<a href="/channels/delete?id=<%= channel.id %>" class="btn btn-danger" role="button">Delete</a>
    									</p>
    								</div>
    							</div>
    						</div>
    						<% }); %>
    					</div>			
    				</div>
    				<div id="create_channel" class="tab-pane fade">
    					<div class="col-sm-6 col-sm-offset-3">
    						<legend><span class="fa fa-sign-in"></span> <strong>Create a new Channel</strong></legend>

    						<!-- show any messages that come back with authentication -->
    						<!-- LOGIN FORM -->
    						<form action="/channels/new" method="post">
    							<div class="form-group">
    								<label>Channel Name</label>
    								<input type="text" class="form-control" name="channel_name">
    							</div>
    							<div class="form-group">
    								<label>Channel Description</label>
    								<input type="text" class="form-control" name="channel_description">
    							</div>
    							<div class="form-group">
    								<label>Channel Image URL</label>
    								<input type="text" class="form-control" name="img_url">
    							</div>

    							<button type="submit" class="btn btn-success btn-lg">Create</button>
    						</form>

    						<hr>
    					</div>
    				</div>
    				<div id="sharing" class="tab-pane fade">
    					Statistics is going here please wait
    				</div>
    				<div id="edit_profile" class="tab-pane fade">
    					Profile editing zone
    				</div>

    				<div id="manage" class="tab-pane fade">

    				</div>

    				<!-- COMPONENT LISTING AREA-->
    			</div>
           </body>
           </html>
